@using EstateAgency.Entities;
@using EstateAgency.Database;

@{
    Layout = "_Basic";
    ViewData["Title"] = "Explore";
    ViewData["script"] = "site-explore.js";
}

<form class="customcard" asp-action="Explore" method="get">
    <p>Фільтр</p>
    <div style="width: 40%; min-width: 24em;">
        <label>Область:</label>
        <select id="regionselect">
            @foreach (string i in DbAdvanced.Regions)
            {
                <option value="@i">@i </option>
            }
        </select>

        <label>Населений пункт:</label>
        <select id="townselect">
        </select>

        <label>Район (необов'язково):</label>
        <select name="district" id="districtselect">
        </select>

        <label>Тип нерухомості:</label>
        <select name="variant" id="variantselect">
            <option value="h">Будинок</option>
            <option value="f">Квартира</option>
            <option value="l">Земельна ділянка</option>
            <option value="o">Інше</option>
        </select>

        <label>Впорядкувати:</label>
        <select name="order" id="orderselect">
            <option value="new">За новизною</option>
            <option value="price">За зростанням ціни</option>
            <option value="prisqm">За ціною кв.м.</option>
            <option value="pop">За популярністю</option>
            <option value="state">За станом</option>
        </select>

        <label id="pricedisplay">Максимальна ціна:</label>
        <input name="maxprice" type="range" min="1000" max="1000000" oninput="$('#pricedisplay').html('Максимальна ціна: ' +$('#priceslider').val()+' USD')" id="priceslider" />
        <br />
        <br />
        <br />
        <button type="submit">Застосувати фільтр</button>
    </div>
</form>

<h2>Доступні об'єкти нерухомості</h2>
@{
    if((Model as Dictionary<int, EstateObject>).Count==0) { <p style="margin-top:10em;">Нічого не знайдено.</p>}
    foreach (KeyValuePair<int, EstateObject> pair in Model as Dictionary<int, EstateObject>)
    {
        EstateObject i = pair.Value;
    <div class="customcard">
        <table class="objectdetail">
            <tr>
                <td>Дата публікації</td>
                <td>@i.PostDate.ToLocalTime().ToString()</td>
            </tr>
            <tr>
                <td>Ціна</td>
                <td>@i.Price.ToString() USD</td>
            </tr>
            <tr style="max-height:7em; overflow: hidden">
                <td>Опис</td>
                <td>@i.Description</td>
            </tr>
            <tr>
                <td colspan="2">
                    <a href="ViewObject?id=@pair.Key">Більше</a>
                </td>
            </tr>
        </table>
        
    </div>
        
    }
}

