@{
    Layout = "_Basic";
    ViewData["Title"] = "Home page";
}
<h2 style="text-align: left;">Estate agency</h2>
<p style="width: 24em; text-align: justify;">
    The home page of estate agency website. It can be used to provide rich description of the service, 
    information about creator, advantages of the service etc.
    <br />
    <br />
    Це - початкова сторінка сайту агентства нерухомості. Тут можна розмістити вичерпний опис сервісу,
    інформацію про розробника, переваги і можливості даного сервісу і т.д.
    <br />
    <br />
</p>
<a href="Login">Log in / Увійти</a>
<br/>
<a href="Signup">Sign up / Створити обл.запис</a>