@using EstateAgency.Entities;
@using EstateAgency.Database;

@{
    Layout = "_Basic";
    ViewData["Title"] = "New object";
}

<h2>New object</h2>
<form asp-action="Post_Stage2" method="post">
    <input type="hidden" name="location" value="@ViewData["location"]" />
    <input type="hidden" name="variant" value="@ViewData["variant"]" />
    <label>Опис об'єкта:</label>
    <textarea name="description"></textarea>

    <span>Ціна:</span>
    <input type="text" maxlength="7" name="price" style="display: inline; width: 8em;" />

    <label>Теги:</label>
    <textarea name="tags" placeholder="Enter tags here, ex.: water gas electricity"></textarea>
    <button type="submit">Завершити</button>
</form>