/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
* {
    font-family: 'Segoe UI', sans-serif;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-color: #fbfbfb;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  
}

main {
    width: 60%;
    min-width: 400px;
    margin:auto;
}

table {
    border-spacing: 0.25em;
    min-width: 100%;
}

td, th {
    background-color: #f8f8fe;
    padding: 1em;
}

h2 {
    margin-top: 2em;
    text-align: center;
}

input[type=text], input[type=password], input[type=email], input[type=tel]
{
    width: 100%;
    display: block;
    box-sizing: border-box;
}

label {
    display: block;
    font-size: 80%;
    padding: 0.15em;
}

button {
    margin: auto;
    display: block;
    width: auto;
}

.customcard {
    padding: 2em;
    margin: 2em auto 2em;
    border-radius: 8px;
    border: 1px solid #cdcdcd;
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
    background-color: #fefefe;
}

.footer {
  position: absolute;
  bottom: 0;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.container60 {
    width: 60%;
    margin: auto;
}

.container20em {
    width: 20em;
    margin:auto;
}
