<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Estate Agency Web</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body onload="page_main()">
    @if (ViewData["LoggedIn"]!=null){ 
    <header style="position:sticky;">
        <a href="/Explore">Головна</a>
        &emsp;/&emsp;
        <a href="/Bookmarks">Закладки</a>
        &emsp;/&emsp;
        <a href="/Account">Обліковий запис</a>
        &emsp;/&emsp;
        <a href="/Post">+ Об'єкт</a>
    </header>
    }

    <main role="main">
        @RenderBody()
    </main>

    <footer class="footer container60">
        <div>
            &copy; 2021 - EstateAgencyWeb - Dmitriy Naumov - naumov1024@gmail.com
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    @if(ViewData["script"]!=null){<script src="~/js/@ViewData["script"]"></script>}
</body>
</html>
