@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estate agency</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="fancy-gradient">
    <div class="container">
        <div class="centralcard">
            <h2 style="text-align:center;">Estate agency</h2>
            <p>@ViewData["message"]</p>
            <br />
            <form asp-action="Login" method="post" style="width:80%; margin:auto;">
                Phone
                <input type="text" placeholder="..." name="phone" />
                <br />
                Password
                <input type="password" name="password" />
                <br />
                <button type="submit">Log in</button>
            </form>
        </div>
    </div>

    <footer class="footer transparent-div">
        <div class="container">
            &copy; @DateTime.Today.Year Dmitriy Naumov - naumov1024@@gmail.com
        </div>
    </footer>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
